{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Création compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="col-xs-4 col-lg-4 col-md-4"></div>
    <div class="col-xs-4 col-lg-4 col-md-4 col-sm-12">
        <form class="form-horizontal" action="{{ path('registration_user') }}" method="post">
        	<fieldset>
        		<center><h3>S'inscrire</h3></center><hr>
        		<div class="form-group">
	                {{form_label(form.username)}}
	                {{form_widget(form.username, {'attr': {'class': 'form-control'}})}}
	            </div>
	            <div class="form-group">
	                {{form_label(form.email)}}
	                {{form_widget(form.email, {'attr': {'class': 'form-control'}})}}
	            </div>
	            <div class="form-group">
	                {{form_label(form.password)}}
	                {{form_widget(form.password, {'attr': {'class': 'form-control'}})}}
	            </div>
	            <div class="form-group">
	                {{form_label(form.passwordR)}}
	                {{form_widget(form.passwordR, {'attr': {'class': 'form-control'}})}}
	            </div>
	            <div class="form-group float-right">
	                {{form_widget(form.Valider)}}
	                {{form_widget(form.Annuler)}}
	                {{ form_rest(form) }}
	            </div>
        	</fieldset>
        </form>
    </div>
    <div class="col-xs-4 col-lg-4 col-md-4"></div>
{% endblock %}
